body {
      font-family: Arial, sans-serif;
      background-color: #5a698b;
      color: #e5e7eb;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
.card{
  display: block;
  grid-template-columns: auto auto auto;
  background-color: rgb(88, 102, 116);
  padding: 5px;
  /* text-align: center; */
}

.card div {
  background-color: hsl(240, 29%, 19%);
  border: 1px solid black;
  padding: 5px;
  font-size: 25px;
  width:400px;
  text-align: center;
}
    button {
      display: block;
      margin: 0 auto 30px;
      padding: 12px 24px;
      font-size: 16px;
      font-weight: bold;
      background-color: #8bcce8;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0ea5e9;
    }

    .games-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .grid-container{
      display:grid;
      grid-template-columns: auto auto auto;
    }

    .game-card {
      background-color: #92abd3;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }

    .game-card h3 {
      margin-top: 0;
      color: #38bdf8;
    }

    .label {
      font-weight: bold;
      color: #d8e0f8;
    }