body{
    background-color: rgb(211, 211, 188);
}

.title {
    text-align: center;
    color:rgb(116, 34, 34);
}

.button{
    text-align: center;
    color: white; /* Optional: ensures text is readable against the background */
    padding: 15px 32px; /* Optional: adds space inside the button */
    border: none;
}