body {
      font-family: Arial, sans-serif;
      background-color: #5a698b;
      color: #e5e7eb;
      /* padding: 20px; */
      text-align: center;
      margin:0;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    title{
      text-align: center;
    }
.card{
  display: block;
  grid-template-columns: auto auto auto;
  background-color: rgb(88, 102, 116);
  padding: 5px;
  text-align: center;
}

.card div {
  background-color: hsl(240, 29%, 19%);
  border: 1px solid black;
  padding: 5px;
  font-size: 25px;
  width:400px;
  text-align: center;
}
    .navbar {
      list-style-type: none;
      display: flex;
      padding: 0%;
      justify-content:space-evenly;
      align-items: center;
      padding: 12px 20px;
      background-color: #95afe6;
    }
   

    .games-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .grid-container{
      display:grid;
      grid-template-columns: auto auto auto;
    }

    .game-card {
      background-color: #92abd3;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }

    .game-card h3 {
      margin-top: 0;
      color: #38bdf8;
    }

    .label {
      font-weight: bold;
      color: #d8e0f8;
    }